In [147]:
import numpy as np
import pandas as pd

In [148]:
df = pd.read_csv('train.csv')

print(df.head())
print(df.shape)

   Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0   1          60       RL         65.0     8450   Pave   NaN      Reg
1   2          20       RL         80.0     9600   Pave   NaN      Reg
2   3          60       RL         68.0    11250   Pave   NaN      IR1
3   4          70       RL         60.0     9550   Pave   NaN      IR1
4   5          60       RL         84.0    14260   Pave   NaN      IR1

  LandContour Utilities  ... PoolArea PoolQC Fence MiscFeature MiscVal MoSold  \
0         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
1         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      5
2         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      9
3         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
4         Lvl    AllPub  ...        0    NaN   NaN         NaN       0     12

  YrSold  SaleType  SaleCondition  SalePrice
0   2008        WD         Normal     208500
1   2007        WD         Normal     181500
2   2008        WD         Normal     223500
3   2006        WD        Abnorml     140000
4   2008        WD         Normal     250000

[5 rows x 81 columns]
(1460, 81)

In [149]:
df.drop('Id', axis=1, inplace=True)
print(df.head())

   MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0          60       RL         65.0     8450   Pave   NaN      Reg
1          20       RL         80.0     9600   Pave   NaN      Reg
2          60       RL         68.0    11250   Pave   NaN      IR1
3          70       RL         60.0     9550   Pave   NaN      IR1
4          60       RL         84.0    14260   Pave   NaN      IR1

  LandContour Utilities LotConfig  ... PoolArea PoolQC Fence MiscFeature  \
0         Lvl    AllPub    Inside  ...        0    NaN   NaN         NaN
1         Lvl    AllPub       FR2  ...        0    NaN   NaN         NaN
2         Lvl    AllPub    Inside  ...        0    NaN   NaN         NaN
3         Lvl    AllPub    Corner  ...        0    NaN   NaN         NaN
4         Lvl    AllPub       FR2  ...        0    NaN   NaN         NaN

  MiscVal MoSold  YrSold  SaleType  SaleCondition  SalePrice
0       0      2    2008        WD         Normal     208500
1       0      5    2007        WD         Normal     181500
2       0      9    2008        WD         Normal     223500
3       0      2    2006        WD        Abnorml     140000
4       0     12    2008        WD         Normal     250000

[5 rows x 80 columns]

In [150]:
df.describe()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,46.549315,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,161.319273,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,0.000000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,0.000000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,1474.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [151]:
df.replace([np.inf, -np.inf], np.nan, inplace=True)
df = df.dropna(axis=1, how="any")

print(df.head())

   MSSubClass MSZoning  LotArea Street LotShape LandContour Utilities  \
0          60       RL     8450   Pave      Reg         Lvl    AllPub
1          20       RL     9600   Pave      Reg         Lvl    AllPub
2          60       RL    11250   Pave      IR1         Lvl    AllPub
3          70       RL     9550   Pave      IR1         Lvl    AllPub
4          60       RL    14260   Pave      IR1         Lvl    AllPub

  LotConfig LandSlope Neighborhood  ... EnclosedPorch 3SsnPorch ScreenPorch  \
0    Inside       Gtl      CollgCr  ...             0         0           0
1       FR2       Gtl      Veenker  ...             0         0           0
2    Inside       Gtl      CollgCr  ...             0         0           0
3    Corner       Gtl      Crawfor  ...           272         0           0
4       FR2       Gtl      NoRidge  ...             0         0           0

  PoolArea  MiscVal  MoSold  YrSold  SaleType SaleCondition SalePrice
0        0        0       2    2008        WD        Normal    208500
1        0        0       5    2007        WD        Normal    181500
2        0        0       9    2008        WD        Normal    223500
3        0        0       2    2006        WD       Abnorml    140000
4        0        0      12    2008        WD        Normal    250000

[5 rows x 61 columns]

In [152]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 61 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     1460 non-null   int64
 1   MSZoning       1460 non-null   object
 2   LotArea        1460 non-null   int64
 3   Street         1460 non-null   object
 4   LotShape       1460 non-null   object
 5   LandContour    1460 non-null   object
 6   Utilities      1460 non-null   object
 7   LotConfig      1460 non-null   object
 8   LandSlope      1460 non-null   object
 9   Neighborhood   1460 non-null   object
 10  Condition1     1460 non-null   object
 11  Condition2     1460 non-null   object
 12  BldgType       1460 non-null   object
 13  HouseStyle     1460 non-null   object
 14  OverallQual    1460 non-null   int64
 15  OverallCond    1460 non-null   int64
 16  YearBuilt      1460 non-null   int64
 17  YearRemodAdd   1460 non-null   int64
 18  RoofStyle      1460 non-null   object
 19  RoofMatl       1460 non-null   object
 20  Exterior1st    1460 non-null   object
 21  Exterior2nd    1460 non-null   object
 22  ExterQual      1460 non-null   object
 23  ExterCond      1460 non-null   object
 24  Foundation     1460 non-null   object
 25  BsmtFinSF1     1460 non-null   int64
 26  BsmtFinSF2     1460 non-null   int64
 27  BsmtUnfSF      1460 non-null   int64
 28  TotalBsmtSF    1460 non-null   int64
 29  Heating        1460 non-null   object
 30  HeatingQC      1460 non-null   object
 31  CentralAir     1460 non-null   object
 32  1stFlrSF       1460 non-null   int64
 33  2ndFlrSF       1460 non-null   int64
 34  LowQualFinSF   1460 non-null   int64
 35  GrLivArea      1460 non-null   int64
 36  BsmtFullBath   1460 non-null   int64
 37  BsmtHalfBath   1460 non-null   int64
 38  FullBath       1460 non-null   int64
 39  HalfBath       1460 non-null   int64
 40  BedroomAbvGr   1460 non-null   int64
 41  KitchenAbvGr   1460 non-null   int64
 42  KitchenQual    1460 non-null   object
 43  TotRmsAbvGrd   1460 non-null   int64
 44  Functional     1460 non-null   object
 45  Fireplaces     1460 non-null   int64
 46  GarageCars     1460 non-null   int64
 47  GarageArea     1460 non-null   int64
 48  PavedDrive     1460 non-null   object
 49  WoodDeckSF     1460 non-null   int64
 50  OpenPorchSF    1460 non-null   int64
 51  EnclosedPorch  1460 non-null   int64
 52  3SsnPorch      1460 non-null   int64
 53  ScreenPorch    1460 non-null   int64
 54  PoolArea       1460 non-null   int64
 55  MiscVal        1460 non-null   int64
 56  MoSold         1460 non-null   int64
 57  YrSold         1460 non-null   int64
 58  SaleType       1460 non-null   object
 59  SaleCondition  1460 non-null   object
 60  SalePrice      1460 non-null   int64
dtypes: int64(34), object(27)
memory usage: 695.9+ KB
None

In [153]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()
names = list(df.columns)

types = df.dtypes

for i in range(len(types)):
  if types[i] == 'object':
    LE.fit_transform(df[names[i]])
    df[names[i]] = LE.transform(df[names[i]])

print(df.head())

   MSSubClass  MSZoning  LotArea  Street  LotShape  LandContour  Utilities  \
0          60         3     8450       1         3            3          0
1          20         3     9600       1         3            3          0
2          60         3    11250       1         0            3          0
3          70         3     9550       1         0            3          0
4          60         3    14260       1         0            3          0

   LotConfig  LandSlope  Neighborhood  ...  EnclosedPorch  3SsnPorch  \
0          4          0             5  ...              0          0
1          2          0            24  ...              0          0
2          4          0             5  ...              0          0
3          0          0             6  ...            272          0
4          2          0            15  ...              0          0

   ScreenPorch  PoolArea  MiscVal  MoSold  YrSold  SaleType  SaleCondition  \
0            0         0        0       2    2008         8              4
1            0         0        0       5    2007         8              4
2            0         0        0       9    2008         8              4
3            0         0        0       2    2006         8              0
4            0         0        0      12    2008         8              4

   SalePrice
0     208500
1     181500
2     223500
3     140000
4     250000

[5 rows x 61 columns]

<ipython-input-153-4af82cad38ce>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[names[i]] = LE.transform(df[names[i]])

In [154]:
print(np.isfinite(df.all()))

MSSubClass       True
MSZoning         True
LotArea          True
Street           True
LotShape         True
                 ...
MoSold           True
YrSold           True
SaleType         True
SaleCondition    True
SalePrice        True
Length: 61, dtype: bool

In [155]:
x = df.values[:,:-1]
y = df.values[:, -1].ravel()

print(x[0])
print(y.shape)

[  60    3 8450    1    3    3    0    4    0    5    2    2    0    5
    7    5 2003 2003    1    1   12   13    2    4    2  706    0  150
  856    1    0    1  856  854    0 1710    1    0    2    1    3    1
    2    8    6    0    2  548    2    0   61    0    0    0    0    0
    2 2008    8    4]
(1460,)

In [156]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)
print(X_train, X_test, y_train, y_test)

[[   20     3 10400 ...  2008     8     4]
 [  180     4  3675 ...  2006     8     4]
 [   60     1  8640 ...  2010     2     4]
 ...
 [   20     3  8172 ...  2006     8     4]
 [   50     3  7642 ...  2007     8     4]
 [  120     3  3684 ...  2009     8     4]] [[   20     3  8414 ...  2006     8     4]
 [   60     3 12256 ...  2010     8     4]
 [   30     4  8960 ...  2010     8     4]
 ...
 [   60     1  8125 ...  2008     8     4]
 [   50     3 12354 ...  2009     4     4]
 [   60     3 13518 ...  2009     6     5]] [174000 145000 215200 ... 115000 189950 174000] [154500 325000 115000 159000 315500  75500 311500 146000  84500 135500
 145000 130000  81000 214000 181000 134500 183500 135000 118400 226000
 155000 210000 173500 129000 192000 153900 181134 141000 181000 208900
 127000 284000 200500 135750 255000 140000 138000 219500 310000  97000
 114500 205000 119500 253293 128500 117500 115000 127000 451950 144000
 119000 196000 115000 287000 144500 260000 213000 175000 107000 107500
  68500 154000 317000 264132 283463 243000 109000 305000  93500 176000
 118858 134000 109008  93500 611657 173000 348000 341000 141000 124900
 118000  67000 113000  91300 149500 133000 266000 190000 155900 155835
 153500 152000 124500 301000 136500 169990 205000 183900 204900 260000
 163500 224900 244000 132000 194000 156500 156000 275000 145000 135000
  60000 124000 127000 137500 213500 119000 107900 123000 112000 284000
 133000 149000 169000 207000 175000 137000 236000  79500 144000 162900
 185900 369900 197900 104000  35311 337500 367294 130250 230000 755000
 403000 132000 178000 136500 145000 123000 250000 187100 133900  67000
 137500 155000 200624 154300  91000 136000 108959 140000  86000 131400
 179900 144000 293077 144500 118500 141000 239000 276000 556581 244400
 360000 103200 102000 151000 285000 134432 113000 187500 125500 177500
 179900  55993 132500 135000 255000 140000 271000 246578 202500  75000
 122500 108480 160000 171000 196000 225000 197000  40000 172500 154900
 280000 175000 147000 315000 185000 135500 239500 139000 140000 110000
 225000 143500 128950 172500 241500 262500 194201 143000 130000 126000
 142500 254000 217500  66500 201000 155000  68400  64500 173000 102776
  84900 165600 120000 135000 220000 153575 195400 147000 277000 143000
 105900 242000 194500 438780 185000 107500 165000 176000 129900 115000
 192140 160000 145000  86000 158000 127500 115000 119500 175900 240000
 395000 165000 128200 275000 311872 214000 153500 144000 115000 180000
 465000 180000 253000  85000 101800 148500 137500 318061 143000 140000
 192500  92000 197000 109500 297000 185750 230000  89471 260000 189000
 108000 124500 145000 178000  85000 175000 127000 149900 174000 125500
 175500 225000 129000 159950 157000 205000 140000 200000 217000 125000
 159500 184000  96500 200000 149000 178900 184900 164700 335000  87500
 233170 149350 133000  98000 207500 150000 134900 187750 149500 116050
 153337 165000 130500 206300 146000 126500 139000 113000  79000 182000
 188000 129000 160000 174000 219210 310000 374000 100000 250000 145000
 325000 380000 275000 180000 245350 151500 134500  94000 216000 350000
 195000 120000 228500 248000 124000 191000 181000 105000 139900 157900
 130500 172400 130000 178000 161500 119900 239000 190000  85400 205000
 134000 168000 185000 180500 152000 215000 153000 106000 340000 159000
 120000 115000 128000 314813 131000 446261 127500 155000 177500 128500
 176000 402000 130000 145000 147000 115000 189000 143000 240000 230000
 190000 213000  82500 274900 155000 423000 128500 335000 262000 129500
 222500 270000 207500 175000 238000 135900 224000 170000 185000 263000
  62383 150000 171000 139000 126175 205950 110000 485000]

In [157]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors =3)
model.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [163]:
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error
y_pred = model.predict(X_test)


print("R^2 : ", r2_score(y_test, y_pred))
print("MAE :", mean_absolute_error(y_test,y_pred))
print("RMSE:",np.sqrt(mean_squared_error(y_test, y_pred)))

R^2 :  0.42915728822417654
MAE : 40709.365296803655
RMSE: 63114.13443532715